body {
  margin: 0;
}

button {
  width: 7%;
  height: 28px;
  font-family: sans-serif;
  color: rgb(78, 44, 3);
  font-size: 18px;
  border-radius: 30px;
  border: 1.5px solid black;
  margin: 10px;
  background-color: #b7ede9c8;
}

.SignOut {
  position: absolute;
  top: 8px;
  right: 16px;
}

.BackBtn {
  position: absolute;
  top: 8px;
  left: 16px;
}
