@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

body {
  background: url(images/backGround.png);
  background-repeat: no-repeat;
  background-position: right top;
  font-family: "Love Ya Like A Sister", sans-serif;
}
